{% extends 'base.html' %}

{% block content %}
<div class="auth-container">
    <h2 class="text-center">Login</h2>
    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="auth-form">
            <label for="id_username">Username:</label>
            {{ form.username }}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="auth-form">
            <label for="id_password">Password:</label>
            <div class="input-group">
                <input type="password" name="password" id="id_password" class="form-control" aria-label="Password" aria-describedby="toggle-password">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="toggle-password" onclick="togglePasswordVisibility('id_password')">Show</button>
                </div>
            </div>
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p class="text-center mt-3">Don't have an account? <a href="{% url 'signup' %}">Sign Up here</a></p>
</div>

<script>
    function togglePasswordVisibility(inputId) {
        var passwordInput = document.getElementById(inputId);
        var toggleButton = document.getElementById('toggle-password');
        
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleButton.textContent = "Hide";
        } else {
            passwordInput.type = "password";
            toggleButton.textContent = "Show";
        }
    }
</script>
{% endblock %}
